@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.btn::after {
  content: url("/images/group-65.svg");
  position: absolute;
  top: 0;
  right: 0;
}

.btn::before {
  content: url("/images/group-67.svg");
  position: absolute;
  top: 0;
  left: 0;
}

.backdrop {
  backdrop-filter: blur(25px);
}

body.menu-open {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .check-text::before {
  content: "";
  width: 16px;
  height: 16px;
  opacity: 0.1;
  background-color: #fff;
}

.input-check:checked + .check-text::before {
  opacity: 1;
  background-color: red;
} */

.check-text {
  display: flex;
  align-items: center;
}
.check-text::before {
  content: "";
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  opacity: 0.1;
  background-color: #fff;
  position: relative;
  right: -4px;
}
.input-check:checked + .check-text::before {
  opacity: 1;
}

.phone-input {
  position: relative;
}
.phone-input::before {
  content: "+38";
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 33px;
  left: 8px;
}
.error {
  display: flex;
  align-items: center;
  gap: 5px;
}
.error::before {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../../public/images/openmoji_close.svg);
}

.gallery-section {
  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url(../../public/images/gallery/mobile/bg-mb.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
