@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media screen and (max-width: 767px) {
  .btn::after {
    content: url("/images/group-65.svg");
    position: absolute;
    top: 0;
    right: 0;
  }

  .btn::before {
    content: url("/images/group-67.svg");
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .btn::before {
    content: url("/images/group-64.svg");
    position: absolute;
    top: 1px;
    left: 0;
  }
  .btn::after {
    content: url("/images/group-66.svg");
    position: absolute;
    top: 1px;
    right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .btn::before {
    content: url("/images/group-62.svg");
    position: absolute;
    top: -1px;
    left: 0;
  }
  .btn::after {
    content: url("/images/group-63.svg");
    position: absolute;
    top: -1px;
    right: 0;
  }
}

.backdrop {
  backdrop-filter: blur(25px);
}

body.menu-open {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-text {
  display: flex;
  align-items: center;
}
.check-text::before {
  content: "";
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  opacity: 0.1;
  background-color: #fff;
  position: relative;
  right: -4px;
}
.input-check:checked + .check-text::before {
  opacity: 1;
}

.phone-input {
  position: relative;
}
.phone-input::before {
  content: "+38";
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 33px;
  left: 8px;
}
.error {
  display: flex;
  align-items: center;
  gap: 5px;
}
.error::before {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../../public/images/openmoji_close.svg);
}

.gallery-section {
  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url(../../public/images/gallery/mobile/bg-mb.png);
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url(../../public/images/gallery/tablet/bg-tab.png);
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url(../../public/images/gallery/desk/bg-desk.png);
  }
}
.gallery-section,
.contacts-section,
.about-section,
.career-section,
.career-section-top,
.career-section-bottom {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contacts-section {
  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url(../../public/images/contacts/bg-mb.png);

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url(../../public/images/contacts/bg-tab.png);
  }
  @media screen and (min-width: 1440px) {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url(../../public/images/contacts/bg-desk.png);
  }
}
.about-section {
  background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
    url(../../public/images/about/about-bg-mb.png);
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(../../public/images/about/about-bg-tab.png);
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(../../public/images/about/about-bg-desk.png);
  }
}

.hero-section {
  background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
    url(../../public/images/hero/hero-bg-mb.png);

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(../../public/images/hero/hero-bg-tab.png);
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(../../public/images/hero/hero-bg-desk.png);
  }
}

.career-section-top {
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url(../../public/images/career/bg-mb.png);
  }
}

.career-section-bottom {
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url(../../public/images/career/bg-mb.png);
    opacity: 0.75;
  }
}

.career-section {
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url(../../public/images/career/bg-tab.png);
  }
  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url(../../public/images/career/bg-desk.png);
  }
}

.gallary-slider .swiper-slide-prev {
  transform: translate3d(0px, 0px, -100px) rotateX(0deg) rotateY(0) scale(1) !important;
  width: 121px !important;
  top: 120px !important;
  @media screen and (min-width: 1200px) and (max-width: 1439px) {
    width: 220px !important;
  }

  @media screen and (min-width: 1440px) {
    width: 313px !important;
  }
}

.gallary-slider .swiper-slide-next {
  transform: translate3d(0px, 0px, -99.8626px) rotateX(0deg) rotateY(0deg)
    scale(1) !important;
  width: 121px !important;
  top: 120px !important;
  @media screen and (min-width: 1200px) and (max-width: 1439px) {
    width: 220px !important;
  }

  @media screen and (min-width: 1440px) {
    width: 313px !important;
  }
}

.gallary-slider .swiper-slide-active {
  width: 415px !important;
  transform: translate3d(0px, 0px, -43.9815px) rotateX(0deg) rotateY(0deg)
    scale(1) !important;
  @media screen and (min-width: 1200px) and (max-width: 1439px) {
    width: 505px !important;
  }

  @media screen and (min-width: 1440px) {
    width: 606px !important;
  }
}

@media screen and (max-width: 1279px) {
  .gallary-slider .swiper-button-prev:after {
    content: "BACK" !important;
    font-family: "__Inter_aaf875";
    font-size: 33px !important;
    font-style: normal !important;
    font-weight: 100 !important;
    line-height: normal !important;
    position: relative !important;
    top: 110px !important;
    left: 70px !important;
    color: #fff !important;
  }

  .gallary-slider .swiper-button-next:after {
    content: "NEXT" !important;
    font-family: "__Inter_aaf875";
    font-size: 33px !important;
    font-style: normal !important;
    font-weight: 100 !important;
    line-height: normal !important;
    position: relative !important;
    top: 110px !important;
    right: 102px !important;
    color: #fff !important;
  }
}

@media screen and (min-width: 1279px) and (max-width: 1439px) {
  .gallary-slider .swiper-button-prev:after {
    content: "BACK" !important;
    font-family: "__Inter_aaf875";
    font-size: 33px !important;
    font-style: normal !important;
    font-weight: 100 !important;
    line-height: normal !important;
    position: relative !important;
    top: 155px !important;
    left: 171px !important;
    color: #fff !important;
  }

  .gallary-slider .swiper-button-next:after {
    content: "NEXT" !important;
    font-family: "__Inter_aaf875";
    font-size: 33px !important;
    font-style: normal !important;
    font-weight: 100 !important;
    line-height: normal !important;
    position: relative !important;
    top: 155px !important;
    right: 154px !important;
    color: #fff !important;
  }
}

@media screen and (min-width: 1440px) {
  .gallary-slider .swiper-button-prev:after {
    content: "BACK" !important;
    font-family: "__Inter_aaf875";
    font-size: 33px !important;
    font-style: normal !important;
    font-weight: 100 !important;
    line-height: normal !important;
    position: relative !important;
    color: #fff !important;
    top: 195px !important;
    left: 268px !important;
  }

  .gallary-slider .swiper-button-next:after {
    content: "NEXT" !important;
    font-family: "__Inter_aaf875";
    font-size: 33px !important;
    font-style: normal !important;
    font-weight: 100 !important;
    line-height: normal !important;
    position: relative !important;
    top: 195px !important;
    right: 194px !important;
    color: #fff !important;
  }
}

.gallary-slider .swiper-slide-active .swiper-slide-shadow-left {
  background-image: none !important;
}

.gallary-slider .swiper-slide-active .swiper-slide-shadow-right {
  background-image: none !important;
}

.gallary-slider .swiper-slide-next .swiper-slide-shadow-left {
  background-image: linear-gradient(
    to left,
    rgba(2, 15, 8, 0.75),
    rgba(2, 15, 8, 0.75)
  );
}

.gallary-slider .swiper-slide-next .swiper-slide-shadow-right {
  background-image: linear-gradient(
    to right,
    rgba(2, 15, 8, 0.75),
    rgba(2, 15, 8, 0.75)
  );
}

.gallary-slider .swiper-slide-prev .swiper-slide-shadow-left {
  background-image: linear-gradient(
    to left,
    rgba(2, 15, 8, 0.75),
    rgba(2, 15, 8, 0.75)
  );
}

.gallary-slider .swiper-slide-prev .swiper-slide-shadow-right {
  background-image: linear-gradient(
    to right,
    rgba(2, 15, 8, 0.75),
    rgba(2, 15, 8, 0.75)
  );
}

.gallary-slider-wrap {
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1000px;
  }

  @media screen and (min-width: 1440px) {
    width: 1235px;
  }
}

.custom-left {
  left: 30px;
}

@media screen and (min-width: 1280px) {
  .services-slider .swiper-wrapper {
    width: 608px !important;
  }

  .services-slider.swiper {
    margin: 0 !important;
  }
}

.top-220 {
  @media screen and (min-width: 1280px) {
    top: 220px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .flex-one {
    flex: 1;
  }
  .flex-two {
    flex: 2;
  }
}
